<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Food Ordering</title>

	<link rel="stylesheet" href="/static/css/styles.css">
	<style>
		main {
			padding: 20px 50px 50px 20px;
			width: 1000px;
			height: 500px;

		}
		p{
			float: left;
		}
		img {
			float: right;
		}
	</style>
    
</head>

<body>
    <header>
        <div class="container">
            <h1>Foodies Ordering</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/templates/product.html">Products</a></li>
                    <li><a href="/templates/product.html#cart">Cart</a></li>
                    <li><a href="/templates/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
	<main>
			<p>
			<h2>Wecome To Tims Foodie Restaurant</h2>
			<h2>Hungry To Eat</h2>
			<p>wake up your taste buds. you'll wonder how you ever lived without us. so long
				as you have food in your mouth, you have solved all the problems for the time being.
			</p>
			<img src="/images/home1.jpg" alt="home">
			<a href="/templates/product.html"><button style="background-color: rgb(28, 28, 131); color: bisque;">Order Now</button></a>
			</p>
	</main>
</body>

</html>
